<div class="landing-page">

    <!-- Hero / Presentación -->
    <header class="landing-page-hero">

        <img src="/img/fund.jpg" alt="background" class="background-image" />
        <h1>Mock Social Network</h1>

        <article>
            <h2>Social Network Portfolio Project</h2>
            <p>
                An Angular application designed to showcase practical experience
                and core competencies in modern web development.
            </p>
        </article>
        
        <a class="button" color="primary" routerLink="/login">Get Started</a>

    </header>

    <article class="landing-page-cv">

    <!-- Perfil del desarrollador -->
    <section class="landing-page-devProfile">
        <img src="img/profile.jpg" alt="selfie" class="profile-cvImage" />
        <div>
            <h2>Juan Camilo Duque Rodas</h2>
            <h3>Front-End Developer | Angular</h3>
            <p>
            Front-end developer focused on building clean, scalable, and
            user-centered web applications using Angular.
            </p>
        </div>
    </section>

    <!-- Habilidades técnicas -->
        <section class="landing-page-devSkills">
            <h2>Technical Skills</h2>

            <article>
                <h3>Front-End</h3>
                <ul>
                    <li>HTML5 & CSS3</li>
                    <li>JavaScript (ES6+)</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                </ul>
            </article>

            <article>
                <h3>Tools & Technologies</h3>
                <ul>
                    <li>Git & GitHub</li>
                    <li>Visual Studio Code</li>
                    <li>REST APIs</li>
                    <li>Component-Based Architecture</li>
                </ul>
            </article>
        </section>

    <!-- Experiencia -->
        <section class="experience">
            <h2>Experience</h2>
            <p>-- working on it --</p>
        </section>

    <!-- Descarga de CV -->
        <section class="resume-download">
            
        </section>

    </article>

</div>