<div>
    <section>
        <div>
            <img src="img/avatar.webp" alt="">
        </div>
        <header>
            <h1>user name</h1>
            <p>Hello!, i loged in an mock app and now i am seeing my dashboard<br>
                in this section there are some dates that i gave when i registered.
            </p>
            
        </header>
        <div *ngIf="user$ | async as user">
            <ul>
                <li>{{ user.name }}</li>
                <li>{{ user.age }}</li>
                <li>{{ user.birthday }}</li>
                <li>{{ user.email }}</li>
            </ul>
        </div>
    </section>
    <section>
        <h2>Contacts</h2>
        <app-contacts></app-contacts>
    </section>
    <section>
        <div>
            <h2>Lasted Posts</h2>
            <app-posts></app-posts>
        </div>
    </section>
    <section>
        <app-chat></app-chat>
    </section>
</div>
