<footer class="l-footer">
    <div class="l-footer__container">

        <h2 class="l-footer__title">Contact Me</h2>

        <ul class="l-footer__list">
        <li class="l-footer__item">
            <h3 class="l-footer__label">Email</h3>
            <p class="l-footer__text">juan.duquea831&#64;gmail.com</p>
        </li>

        <li class="l-footer__item">
            <h3 class="l-footer__label">Phone Number</h3>
            <p class="l-footer__text">+57 3192592076</p>
        </li>
        </ul>

    </div>
</footer>