<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Username -->
    <div>
        <input type="text" formControlName="username" placeholder="User Name">
        <div class="error" *ngIf="username?.touched && username?.invalid">
            <div *ngIf="username?.errors?.['required']">El username es obligatorio.</div>
            <div *ngIf="username?.errors?.['minlength']">El username es muy corto.</div>
        </div>
    </div>

    <!-- Name -->
    <div>
        <input type="text" formControlName="name" placeholder="Full Name">
        <div class="error" *ngIf="name?.touched && name?.invalid">
            <div *ngIf="name?.errors?.['required']">El nombre es obligatorio.</div>
            <div *ngIf="name?.errors?.['minlength']">El nombre es muy corto.</div>
        </div>
    </div>
    <!-- Email -->
    <div>
        <input type="text" formControlName="email" placeholder="Email">
        <div class="error" *ngIf="email?.touched && email?.invalid">
            <div *ngIf="email?.errors?.['required']">El email es obligatorio.</div>
            <div *ngIf="email?.errors?.['email']">Ingresa un email válido.</div>
        </div>
    </div>

    <!-- Age -->
    <div>
        <input type="number" formControlName="age" placeholder="Age">
        <div class="error" *ngIf="age?.touched && age?.invalid">
            <div *ngIf="age?.errors?.['required']">La edad es obligatoria.</div>
            <div *ngIf="age?.errors?.['min']">La edad debe ser mayor a 18.</div>
        </div>
    </div>

    <!-- Birthday -->
    <div>
        <input type="date" formControlName="birthday" placeholder="Birthday">
            <div class="error" *ngIf="birthday?.touched && birthday?.invalid">
            <div *ngIf="birthday?.errors?.['required']">La fecha de cumpleaños es obligatoria.</div>
        </div>
    </div>

    <!-- Password -->
    <div>
        <input type="password" formControlName="password" placeholder="Password">
        <div class="error" *ngIf="password?.touched && password?.invalid">
            <div *ngIf="password?.errors?.['required']">La contraseña es obligatoria.</div>
            <div *ngIf="password?.errors?.['minlength']">La contraseña es muy corta.</div>
        </div>
    </div>

    <!-- Confirm Password -->
    <div>
        <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <div class="error" *ngIf="confirmPassword?.touched && (confirmPassword?.invalid || registerForm?.errors?.['passwordMismatch'])">
            <div *ngIf="confirmPassword?.errors?.['required']">Debes confirmar la contraseña.</div>
            <div *ngIf="registerForm?.errors?.['passwordMismatch']">Las contraseñas no coinciden.</div>
        </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
</form>

    <button (click)="toggleForm.emit()">I have an account</button>
</div>