<header>
    <mat-toolbar class="header-content">

        <div class="header-block">
            <a routerLink="/" class="img-conteiner"><img src="img/" alt="Logo" class="logo"></a>

            <button mat-icon-button  aria-label="Abrir menú" class="toggle-button" (click)="toggleSidenav.emit()">
                <mat-icon fontIcon="settings">settings</mat-icon>
            </button>
        </div>
        
        <span class="spacer"></span>
        
        <div class="header-block" *ngIf="router.url === '/'">
            <a class="button" routerLink="/login">Sign in</a>
        </div>  
        
    </mat-toolbar>
</header>
