<div class="l-landing">

    <!-- Hero / Presentación -->
    <header class="l-landing__hero">

        <img src="/img/fund.jpg" alt="background" class="l-landing__bg" />

        <h1 class="l-landing__title">Mock Social Network</h1>

        <article class="l-landing__intro">
        <h2>Social Network Portfolio Project</h2>
        <p>
            An Angular application designed to showcase practical experience
            and core competencies in modern web development.
        </p>
        </article>

        <a class="btn btn--primary" routerLink="/login">
        Get Started
        </a>

    </header>

    <article class="l-landing__cv">
        <div class="l-lading__cv-group-1">
        <!-- Perfil del desarrollador -->
            <section class="l-landing__profile card">

                <img src="img/profile.jpg" alt="selfie" class="l-landing__profile-img" />

                <div class="l-landing__profile-body">
                    <h2>Juan Camilo Duque Rodas</h2>
                    <h3>Front-End Developer | Angular</h3>
                    <p>
                    Front-end developer focused on building clean, scalable, and
                    user-centered web applications using Angular.
                    </p>
                </div>

            </section>

            <!-- Habilidades técnicas -->
            <section class="l-landing__skills card">

            <h2>Technical Skills</h2>

                <div>
                    <article class="l-landing__skills-group">
                        <h3>Front-End</h3>
                        <ul>
                        <li>HTML5 & CSS3</li>
                        <li>JavaScript (ES6+)</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                        </ul>
                    </article>

                    <article class="l-landing__skills-group">
                        <h3>Tools & Technologies</h3>
                        <ul>
                        <li>Git & GitHub</li>
                        <li>Visual Studio Code</li>
                        <li>REST APIs</li>
                        <li>Component-Based Architecture</li>
                        </ul>
                    </article>
                </div>

            </section>
        </div>
        <article class="l-landing__experience card">
                <h2>Experience</h2>
                <p>-- working on it --</p>
        </article>

        <!-- Descarga de CV -->
        <section class="l-landing__download card" style="display: none;">
        <!-- futuro botón -->
        </section>

    </article>

</div>