<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="form l-login-form"
>

  <!-- EMAIL -->
    <div class="form__field">
        <input
        type="text"
        formControlName="email"
        placeholder="Email"
        class="form__input"
        />

    <div class="form__error" *ngIf="email?.touched && email?.invalid">
        <div *ngIf="email?.errors?.['required']">
            *El email es obligatorio.
        </div>
        <div *ngIf="email?.errors?.['email']">
            *Ingresa un email válido.
        </div>
        <div *ngIf="email?.errors?.['minlength']">
            *El email es muy corto.
        </div>
        </div>
    </div>

  <!-- PASSWORD -->
    <div class="form__field">
    <input
        type="password"
        formControlName="password"
        placeholder="Password"
        class="form__input"
    />

        <div class="form__error" *ngIf="password?.touched && password?.invalid">
        <div *ngIf="password?.errors?.['required']">
            *La contraseña es obligatoria.
        </div>
        <div *ngIf="password?.errors?.['minlength']">
            *La contraseña es muy corta.
        </div>
        </div>
    </div>

  <!-- ERROR GLOBAL -->
    <div class="form__error" *ngIf="loginError">
        *{{ loginError }}
    </div>

    <!-- SUBMIT -->
    <button
        type="submit"
        class="btn btn--primary l-login-form__submit"
        [disabled]="loginForm.invalid"
    >
        Sign In
    </button>

</form>

<button
    class="btn btn--ghost l-login-form__toggle"
    (click)="toggleForm.emit()"
    >
    I do not have an account
</button>