<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="over" class="sidenav">
        <div class="sidenav-content-wrapper">
            <app-sidenav></app-sidenav>
            <button mat-button class="nav-close-button" (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </mat-sidenav>

    
    <mat-sidenav-content>
        <app-header *ngIf="showHeader$ | async" (toggleSidenav)="sidenav.toggle()"></app-header>

            <main class="l-main">
                <button *ngIf="!(showHeader$ | async)" 
                        class="sidenav-toggle-button"
                        mat-fab
                        color="primary"
                        (click)="toggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </main>

        <app-footer *ngIf="showFooter$ | async"></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>